<form action="/campgrounds" method="POST">
    <input type="text" name="camp[name]" placeholder="name">
    <input type="text" name="camp[image]" placeholder="image">
    <input type="text" name="camp[description]" placeholder="description">
    <button>submit</button>
</form>